
  <div class="upperCard">

    <div class="ucZone1">
      <button mat-raised-button (click)="BackButton()">◄ Retour</button>
    </div>

    <div class="ucZone1">
      Paramètrage de la Partie
    </div>

  </div>


  <form class="lowerForm" [formGroup]="gameForm" (ngSubmit)="startGameBtn()">


    <div class="FormElUn">
      <mat-form-field class="ShipNameInput">
        <input formControlName="shipName" matInput placeholder="What's your Ship's Name?">
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <div class="FormElDeux">

      <div>What's your Team Color?</div>

      <mat-radio-group #rGroup formControlName="shipColor">
        <mat-radio-button radioGroup="rGroup" class="selColor1" value="{{colorType1}}">
          <mat-label [ngStyle]="{'background-color':colorType1}" class="color1"></mat-label>
        </mat-radio-button>
        <mat-radio-button radioGroup="rGroup" class="selColor1" value="{{colorType2}}">
          <mat-label [ngStyle]="{'background-color':colorType2}" class="color2"></mat-label>
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-divider></mat-divider>

    <div class="FormElTrois">
      <button mat-raised-button type="submit" [disabled]="!gameForm.valid" (onclick)="startGameBtn()">Start Game</button>
    </div>

  </form>
