<!-- alert-box works! -->
<cdk-virtual-scroll-viewport itemSize="50" class="viewport">

  <div [ngStyle]="">test</div> <!-- message -->
  <div [ngStyle]="">test</div>

  <div [ngStyle]="">test</div>
  <div [ngStyle]="">test</div>
  <div [ngStyle]="">test</div>
  <div [ngStyle]="">test</div>
  <div [ngStyle]="">test</div>
  <div [ngStyle]="">test</div>
  <div [ngStyle]="">test</div>
  <div [ngStyle]="">test</div>
  <div [ngStyle]="">test</div>
  <div [ngStyle]="">test</div>
  <div [ngStyle]="">test</div>
  <div [ngStyle]="">test</div>
  <div [ngStyle]="">test</div>
  <div [ngStyle]="">test</div>
  <div [ngStyle]="">test</div>
  <div [ngStyle]="">test</div>
  <div [ngStyle]="">test</div>
  <div [ngStyle]="">test</div>
  <div [ngStyle]="">test</div>
  <div [ngStyle]="">test</div>
  <div [ngStyle]="">test</div>
  <div [ngStyle]="">test</div>
  <div [ngStyle]="">test</div>
  <div [ngStyle]="">test</div>
  <div [ngStyle]="">test</div>
  <div [ngStyle]="">test</div>

</cdk-virtual-scroll-viewport>
