
  <!-- Title -->
  <div class="menuTitleBox" [ngStyle]="leftColumnStyleStateInConfig()">
    <div class="menuTitle">
      Welcome to Shipway
    </div>
    <div class="menuDesc">
      A new way to play a ship game.
    </div>
  </div>

  <!-- buttons -->
  <div class="menuBtnsBox" [ngStyle]="leftColumnStyleStateInConfig()" >

    <button *ngIf="!sgs.startTheGame" mat-raised-button (click)="playGame()">Play Game</button>

    <button *ngIf="sgs.startTheGame" mat-raised-button>Pause Game</button>

    <button mat-raised-button (click)="leaveGame()">Quit Game</button>

  </div>

