
@smallArea:25%;
@bigArea:74%;

:host{
  max-height: 560px;
  height: 560px;
  max-width: 1000px;
  width: 1000px;
  background-color: #e0e1e2;
  font-family: Arial, Helvetica, sans-serif;


  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: 3s;
}




  .MainMenuImgClass{
    height:100%;
    width:@bigArea ;
  }


