
@smallArea:25%;
@bigArea:74%;


  .leftColumn{
      transition:3s;
      flex-basis: @smallArea;
      background-color: grey;
      height: 100%;
      text-align: center;
      border-right: 2px solid black;
      display:inline-block;
  }

  .gameConfigClass {
    flex-basis: @bigArea;
    background-color: whitesmoke;
    height: 100%;
    display: inline-block;
    transition:3s;
  }

  .gameStartedClass{
    height:100%;
    width:@bigArea ;
  }

  .MainMenuImgClass{
    height:100%;
    width:@bigArea ;
  }


