
  <!-- Title -->
  <div [ngStyle]="leftColumnStyleStateInConfig()" class="menuTitleBox">
    <div class="menuTitle">
      Welcome to Shipway
    </div>
    <div class="menuDesc">
      A new way to play a ship game.
    </div>
  </div>

  <!-- buttons -->
  <div [ngStyle]="leftColumnStyleStateInConfig()" class="menuBtnsBox">

    <button *ngIf="!pgs.getStartTheGame()" mat-raised-button (click)="playGame()">Play Game</button>

    <button *ngIf="pgs.getStartTheGame()" mat-raised-button>Pause Game</button>

    <button mat-raised-button (click)="leaveGame()">Quit Game</button>

  </div>

