@squareSize:70px;

.grid {
  display : inline-grid;
  grid-template-rows: auto auto;
  grid-gap: 1px;
  width:auto;
  //justify-content: center;
  background-color: dodgerblue;
}

.element {
  width: @squareSize;
  height: @squareSize;
  background-color : whitesmoke;
/*  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;*/
}
.viewport {
  height: 100%;
  width: 100%;
  //border: 1px solid black;
  background: #e0e1e2;
  //border: solid 1px #999;
  //border-right: 1px solid black;

}
