.grid {
  display : inline-grid;
  grid-template-rows: auto auto;
  grid-gap: 1px;
  width:auto;
  //justify-content: center;
  background-color: dodgerblue;
}

.element {
  width: 60px;
  height: 60px;
  background-color : whitesmoke;
/*  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;*/
}
