<div class="ShipInformation">
  <div>TITRE NOM BATEAU: <span>SHIP's HP</span></div>
  <div>PIECE 1:<span>HP P1</span></div>
  <div>PIECE 1:<span>HP P1</span></div>
  <div>PIECE 1:<span>HP P1</span></div>
  <div>PIECE 1:<span>HP P1</span></div>
</div>

<div class="ActionPanel">
  <div class="btn-attack">
    <button class="ActionBoxChild" mat-raised-button>Attack</button>
  </div>

  <div class="btn-movement">
    <button class="ActionBoxChild" mat-raised-button>Movement</button>
  </div>

  <div class="btn-skip-movement">
    <button class="ActionBoxChild" mat-raised-button>Skip Turn</button>
  </div>

</div>
