@hun:100%;

:host {
  width: @hun;
  height: @hun;
  display: flex ;
  flex-direction: row ;
  flex-wrap: nowrap ;
  justify-content: space-around ;
  align-items: center ;
  align-content: center ;
}


:host span{
  border-radius:50%;
  background-color: #ffb9a5;
}
